<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdmusicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!-- This is used for Last.fm and Google Music -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to check for a data connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to keep the service running when the phone sleeps -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Stick Broadcast -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- Incoming calls -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Used to set ringtone -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_music_green_64"
        android:label="@string/app_name"
        android:theme="@style/ApolloTheme" >
        <activity
            android:name="com.example.sdmusicplayer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sdmusicplayer.SongListActivity"
            android:label="@string/label_local_music" >
        </activity>
        <!-- Track browser -->
        <activity
            android:name="com.example.sdmusicplayer.TracksBrowser"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Media button receiver -->
        <receiver android:name="com.example.sdmusicplayer.service.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <!-- Music service -->
        <service
            android:name="com.example.sdmusicplayer.service.MusicService"
            android:label="@string/app_name"
            android:process=":main" />
    </application>

</manifest>
